* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: local;
    color: white;
}
.cantainer {
    min-height: 70vh;
    min-width: 500px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(16, 16, 28);
}
[tag] {
    font-size: 3rem;
    margin: 40px auto;    
}
.pass-box {
    padding-left: 4%;
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.pass-box input {
    padding: 5px;
    width: 88%;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    background-color: blueviolet;
    outline: none;
    border: 1px solid white;
}
.pass-box i {
    font-size: 2.2rem;
    width: 12%;
    cursor: pointer;
    color: black;
    opacity: .6;
    color: white;
}
.pass-box i:hover {
    opacity: 1;
}
.pass-length {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 95%;
    padding-left: 10px;
}
[pass-len]{
    width: 84%;
}
.pass-length h2{
    /* font-size: 1.5rem; */
    padding-left: 5px;
}
.check-box-cant {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.check-box {
    margin: 5px auto;
    width: 70%;
    display: flex;  
}
.check-box input {
    width: 15%;
}
.check-box label {
    font-size: 1.2rem;
}
.strength {
    padding: 10px;
    width: 70%;
    margin: auto;
    display: flex;
    line-height: 2rem;
}
.strength P {
    text-align: start;
    width: 85%;
    font-size: 2rem;
}
.strength div {
    width: 11%;
    border-radius: 50%;
}
[generate] {
    background-color: red;
    width: 88%;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    cursor: pointer;
    opacity: .8;
}
[generate]:hover {
    opacity: 1;
}
[generate]:active {
    color: white;
}
.good {
    background-color: yellowgreen;
    box-shadow: 0 0 20px yellowgreen;
}
.weak {
    background-color: red;
    box-shadow: 0 0 20px red;
}
.strong {
    background-color: green;
    box-shadow: 0 0 20px green;
}