* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: linear-gradient(to right bottom, red , blueviolet);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: hidden;
}
.cantainer {
    width: 480px;
    margin:10px auto;
    border-radius: 15px;
    text-align: center;
    background-size: contain;
}
[tag] {
    font-size: 3rem;
    margin: 20px auto;   
    color: rgb(255, 255, 255); 
}

/* show password box */
.pass-box {
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}
.pass-box input {
    letter-spacing: 1.5px;
    padding: 5px 0;
    width: 100%;
    font-size: 2rem;
    border-radius: 15px;
    text-align: center;
    line-height: 3.5rem;
    background: local;
    outline: none;
    color: yellow;
    background-color: rgb(16, 16, 28);
    border-bottom: 5px solid rgb(162, 0, 255);
}
.pass-box i {
    color: rgb(177, 172, 172);
    right: 12px;
    top: 20px;
    position: absolute;
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}
.pass-box i:hover {
    color: rgb(60, 50, 205);
}
.copied::after {
    content: "copied";
    position: absolute;
    right: -10px;
    top: -30px;
    background-color: rgb(86, 3, 86);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 7px;
    text-transform: lowercase;
    opacity: 1;
}

/* others */
.other {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    color: white;
    border-radius: 20px;
    background-color: rgb(16, 16, 28);
    border-bottom: 5px solid rgb(162, 0, 255);
}
/* show password length */
.pass-length {
    margin: 10px auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
}
[pass-len] {
    appearance: none;
    height: 1rem;
    margin: 40px auto;
    margin-bottom: 20px;
    width: 100%;
    appearance: none;
    border-radius: 10px;
    background-color: rgba(68, 37, 97, 0.671);
    background-image: linear-gradient(rgb(153, 0, 255) , rgb(123, 0, 255));
    background-repeat: no-repeat;
    background-size: 55% 100%;
}
[pass-len]:focus {
    outline: 1px solid yellow;
}
[pass-len]::-webkit-slider-thumb:hover {
    background-color: rgb(76, 3, 194);    
}
[pass-len]::-webkit-slider-thumb {
    appearance: none;
    height:1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px yellow;
    transform: scale(2.8);
}


/* All check boxes */
.check-box-cant {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.check-box {
    margin: 5px auto;
    width: 100%;
    display: flex;  
}
.check-box input {
    appearance: none;
    position: relative;
    margin: 0 10px;
    border: 1px solid cyan;
    width: 25px;
    height: 25px;
    border-radius: 8px;
    cursor: pointer;
}
.check-box input:checked {
    background-color: rgba(0, 255, 255, 0.7);
}
.check-box input::after {
    position: relative;
}
.check-box input:checked::after {
    position: absolute;
    content: "✓";
    color: red;
    font-weight: 700;
    top: -6px;
    left: 4px;
    font-size: 1.4rem;
    z-index: 2;
}
.check-box label {
    font-size: 1.2rem;
    cursor: pointer;
}

/* Show strength of password */
.strength {
    padding-right:20px;
    margin: 20px auto;
    display: flex;
    font-size: 1.3rem;
    line-height: 2rem;
    justify-content: space-between;
    align-items: center;
}
.strength div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(3.3);
}
[generate] {
    appearance: none;
    border: none;
    outline: none;

    background: rgb(179, 0, 255);
    border-bottom:3px solid yellow;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    color: yellow;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
    cursor: pointer;
    opacity: .8;
    line-height: 3rem;
    
}
[generate]:hover {
    opacity: 1;
}
[generate]:active {
    border-bottom:none;
    border-top:3px solid yellow;
}
.good {
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
}
.weak {
    background-color: red;
    box-shadow: 0 0 10px red;
}
.strong {
    background-color: rgb(0, 250, 0);
    box-shadow: 0 0 10px rgb(4, 225, 4);
}

@media screen and (max-width:520px) {
    [tag] {
        padding-top: 0;
        margin: 15px auto;
        font-size: 2rem;
        letter-spacing: 1px;
    }
    .cantainer {
        width: 400px;
        margin: 15px auto;
    }
    [pass-len] {
        margin: 20px auto;
    }
    .pass-box {
        margin: 15px auto;
    }
    .pass-box input {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .pass-length {
        margin: 0px auto;
    }
}
@media screen and (max-width:400px) {
    .pass-length h2 {
        font-size: 1.4rem;
        letter-spacing: 0;
    }
    .cantainer {
        width: 350px;
    }
    .pass-box {
        margin: 10px auto;
    }
    .pass-length {
        margin: 15px auto;
    }
}
@media screen and (max-width:350px) {
    [tag] {
        /* font-size: 1.5rem; */
        letter-spacing: 0;
    }
    .cantainer {
        width: 300px;
    }
    .pass-box {
        margin: 10px auto;
    }
    .pass-length {
        margin: 15px auto;
    }
}